@font-face {
    font-family: "GOT";
    src: url("Game\ of\ Thrones.ttf");
  }

  body {
    background: url("survey.png") center center fixed;
  }

.nav-wrapper {
    background-color: black;
    padding: 1em 2em 5em 2em;
    font-family: friend;
}

.jumbotron {
    font-family: GOT;
    margin-top: 8em;
    opacity: 0.7;
}

a, a:link, a:visited, a:active {
    font-family: GOT;
    text-decoration: none;
    font-size: 25px;
}

a:hover { 
    color: gold;
}

.btn-danger {
    font-family: GOT;
    background-color: gold;
    color: black;
    padding: 0em 1em 1em 1em;
}

.btn:hover {
    background-color: gold;
}

h3 {
    font-family: GOT;
}

.label {
    font-family: GOT;
}

#name {
    color: black;
    font-size: 3em;
    font-family: GOT;
}

#title {
    color: black;
    font-size: 1.5em;
}

h1 {
    font-family: GOT;
    text-align: center;
}

#questions {
    color: black;
    font-size: 1.5em;
}

.dropdown-content li>span {
    color: black;
    font-family: sans-serif;
}