@font-face {
    font-family: "GOT";
    src: url("Game\ of\ Thrones.ttf");
}
  
  body {
    background: url("wallpaper.jpg") no-repeat center center fixed;
  }
.nav-wrapper {
    background-color: black;
    padding: 1em 2em 5em 2em;
    font-family: friend;
}

.jumbotron {
    font-family: GOT;
    margin-top: 8em;
    opacity: 0.8;
    background-color: black;
    color: gold;
}

a, a:link, a:visited, a:active {
    font-family: GOT;
    text-decoration: none;
    font-size: 25px;
}

a:hover { 
    color: gold;
}

.btn-danger {
    font-family: GOT;
    background-color: gold;
    color: black;
    padding: 0em 1em 1em 1em;
}

.btn:hover {
    background-color: gold;
}

h3 {
    font-size: 5em;
    text-align: center;
}

h5 {
    text-align: center;
}



